<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="styles.css">
        <title>404 page</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1 style="color: red;">Page not found</h1>
    <a href="/" class="text-center new-account">Home</a>
<%- include('../partials/footer.ejs') %>
</body>
</html>