<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <!-- flesh messages after redirecting from login -->
    <div class="container flesh-container">
        <ul class="flash-block">
            <% if (messages.success_msg) { %> 
            <li class="text-success"><%= messages.success_msg %></li>
            <% } %> 
        </ul>
    </div>

    <div class="container-sm">
        <h3 class="text-center">Search For Any Movie</h3>
        <form id="searchForm">
            <label class="form-label" for="searchText">Search for any movie:</label>
            <input type="text" class="form-control mb-3" id="searchText" placeholder="Search Movies...">
            <label class="form-label" for="genre">Search by genre:</label>
            <select id="genreSelection" name="genre" class="form-select mb-3">
            </select> 
        </form>
    </div>

    <div class="container-sm">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Img</th>
                <th scope="col">Movie title</th>
                <th scope="col">Rating</th>
                <th scope="col">Your rating</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody class="film-list">
            
            
            </tbody>
        </table>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="home.js"></script>
</body>
</html>